@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.desktop-1 .label {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: var(--small-text-font-family, 'Inter');
  font-weight: var(--small-text-font-weight, 500);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 1.5);
  color: #828282;
}

.label-sub3 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 100px;
  line-height: 1.333;
  

}



.desktop-1 .input-field {
  box-shadow: var(--button-shadow, 0px 1px 2px 0px rgba(0, 0, 0, 0.05));
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  background: #FFFFFF;
  position: relative;
  margin: 1px 18px 0 0;
  display: flex;
  padding: 11px 14px 16px 0;
  width: 472px;
  height: fit-content;
  box-sizing: border-box;
}

.desktop-1 .telegram,
.desktop-1 .twitter,
.desktop-1 .pump-fun,
.desktop-1 .dexscreener {
  overflow-wrap: break-word;
  font-family: var(--small-text-font-family, 'Inter');
  font-weight: var(--small-text-font-weight, 500);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 1.5);
  color: #FFFFFF;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-1 .button-3,
.desktop-1 .button,
.desktop-1 .button-1,
.desktop-1 .button-2 {
  box-shadow: var(--button-shadow, 0px 1px 2px 0px rgba(0, 0, 0, 0.05));
  border-radius: 8px;
  background: #790301;
  margin: 0 16px 11px 0;
  display: flex;
  height: fit-content;
  box-sizing: border-box;
}

.desktop-1 .button-3 {
  width: 140px;
  padding: 29.5px 0.4px;
}

.desktop-1 .button {
  width: 140px;
  padding: 29.5px 0.8px;
}

.desktop-1 .button-1 {
  width: 140px;
  padding: 29.5px 0.3px;
}

.desktop-1 .button-2 {
  margin-bottom: 11px;
  padding: 29.5px 12.6px;
}

.desktop-1 .container {
  margin: 0 82px 25px 82px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container1 {
  margin: 0 82px 25px 82px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}

.desktop-1 .trumpetm-1 {
  background: url('./assets/images/trumpetm_1.png') 50% / cover no-repeat;
  margin: 180px 167px 0 0;
  width: 422px;
  height: 396px;
}

.desktop-1 .note-114 {
  background: url('./assets/images/note_114.png') 50% / cover no-repeat;
  margin: 282px 25px 160px 0;
  width: 131px;
  height: 134px;
}

.desktop-1 .label-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  color: #1E1E1E;
}
.desktop-1 .label-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 55px;
  line-height: 1.5;
  color: #000000;
}

.desktop-1 .input-field-1 {
  opacity: 0.5;
  box-shadow: var(--button-shadow, 0px 1px 2px 0px rgba(0, 0, 0, 0.05));
  border-radius: 8px;
  margin-bottom: 505px;
  display: flex;
  padding: 12px 48px 11px 16px;
  box-sizing: border-box;
}

.desktop-1 .container-4 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.desktop-1 .note-112 {
  background: url('./assets/images/note_114.png') 50% / cover no-repeat;
  position: absolute;
  left: 407px;
  bottom: 20px;
  width: 100px;
  height: 107px;
}

.desktop-1 .note-113 {
  background: url('./assets/images/note_114.png') 50% / cover no-repeat;
  position: absolute;
  left: 434px;
  bottom: 204px;
  width: 105px;
  height: 96px;
}

.desktop-1 .container-5 {
  background: url('./assets/images/background_21.jpeg') 50% / cover no-repeat;
  position: relative;
  padding: 197px 35px 73px 35px;
  width: fit-content;
  box-sizing: border-box;
}

.desktop-1 .stick-11 {
  background: url('./assets/images/stick_11.png') 50% / cover no-repeat;
  margin-top: 34px;
  width: 229px;
  height: 218px;
}

.desktop-1 .note-111 {
  background: url('../assets/images/note_114.png') 50% / cover no-repeat;
  margin-bottom: 118px;
  width: 123px;
  height: 134px;
}

.desktop-1 .container-2 {
  display: flex;
  flex-direction: row;
  width: 352px;
  box-sizing: border-box;
}

.desktop-1 .label-2 {
  margin: 160px 0 44px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--small-text-font-family, 'Inter');
  font-weight: var(--small-text-font-weight, 500);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 1.5);
  color: #828282;
}

.desktop-1 .container-1 {
  margin: 0 86.8px 0 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1336.2px;
  box-sizing: border-box;
}

.desktop-1 .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}

.desktop-1 .dtrumpet-11 {
  background: url('./assets/images/dtrumpet_11.png') 50% / cover no-repeat;
  position: absolute;
  left: 49px;
  top: -22px;
  width: 161px;
  height: 179px;
}

.desktop-1 .hair-1 {
  background: url('./assets/images/hair_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 299px;
  top: 5px;
  width: 146px;
  height: 84px;
}

.desktop-1 .doot-121 {
  background: url('./assets/images/doot_121.png') 50% / cover no-repeat;
  position: absolute;
  top: 137px;
  right: 20%;
  width: 160px;
  height: 200px;
}

.desktop-1 {
  background: #FFFFFF;
  padding-top: 21px;
  width: 1440px;
  box-sizing: border-box;
}
